# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class
MinCut/bin/*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SemRep/Debug/SemRep

*.d
*.launch
console_output